<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Laura Russell</title>
<!-- My Stylesheet -->
<link rel="stylesheet" href="../stylesheets/main.css">

<!-- Vendor Scripts -->
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<!-- Compressed CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css">
<!-- Compressed JavaScript -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js"></script>

<!-- My JavaScript -->
<script type="text/javascript" src="../javascripts/app.js"></script>
</head>
<body>
	<ul class="vertical medium-horizontal menu" id="navbar">
	  <li><a href="#home-page">Home</a></li>
	  <li><a href="#work-page">My Work</a></li>
	  <li><a href="#skills-page">Skills</a></li>
	  <li><a href="#contact-page">Contact</a></li>
	</ul>
	<section class="page" id="home-page">
	</section>
	<section class="page" id="work-page">
		<div class="row app-snippets" id="first-row">
		  <div class="medium-3 medium-offset-6 columns preview" id="top-left">6 columns</div>
		  <div class="medium-3 columns preview" id="top-right">6 columns</div>
		</div>
		<div class="row app-snippets" id="second-row">
		  <div class="medium-3 medium-offset-6 columns preview" id="bottom-left">12/6/4 columns</div>
		  <div class="medium-3 columns preview" id="bottom-right">12/6/8 columns</div>
		</div>
	</section>
	<section class="page" id="skills-page">
	</section>
	<section class="page" id="contact-page">
	</section>
</body>
</html>