/*****Color & Font Key
black-color: #343338;
white: #FFFFFF;
off-white: #CDD5D1;
off-purple: #6F7184;
rose: #D8C0B8;

font-family: 'Poppins', sans-serif;
***************/

/*****Global*****/
.page {
	height: 100vh;
}

#navbar {
	position: fixed;
	background-color: #343338;
	width: 100vw;
	height: 10%;
	text-align: center;
	z-index: 10;
}

#navbar a {
	text-decoration: none;
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
	font-size: 1.35em;
	text-align: center;
	margin-top: 5%;
}

/*****Home Page*****/
#hero-img {
	width: 100vw;
	height: 100vh;
}

#box {
	width: 50%;
	height: 30%;
	border: 0.01em solid #ffffff;
	position: absolute;
	margin-top: 35vh;
}

#name-heading {
	color: #ffffff;
	text-align: center;
	margin-top: 1em;
	font-family: 'Poppins', sans-serif;
}

#dev-heading {
	color: #ffffff;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 1.45em;
}

/*****About Page*****/
#about-page {
	background-color: #D8C0B8;
	height: 100vh;
}

#about-me-blurb {
	visibility: hidden;
	margin-top: 30vh;
	color: #343338;
	font-weight: bold;
	font-size: 1.25em;
}

#about-me-blurb p {
	font-family: 'Poppins', sans-serif;
}

/*****Work Flow Page*****/
#work-flow-page {
	height: 100vh;
	background-color: #343338;
}

.all-steps {
	visibility: hidden;
}

.work-flow-text {
	visibility: hidden;
	text-align: center;
	height: 100vh;
	background-color: #ffffff;
	color: #343338;
}

.work-flow-text h3, p {
	margin-top: 45vh;
	font-family: 'Poppins', sans-serif;
}

.work-flow-text p {
	margin: 0 15%;
	font-size: 1.25em;
}

/*Row Class*/
.work-flow-snippets {
	height: 45%;
	width: 100%;
}

.steps {
	min-width: 50%;
	height: 50vh;
	text-align: center;
	color: #ffffff;
}

#step-one {
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

#step-two {
	border-bottom: 1px solid #fff;
}

#step-four {
	border-right: 1px solid #fff;
}


.steps h3 {
	margin-top: 30%;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.steps ul li {
	list-style: none;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 1.10em;
	margin-left: -1.5em;
}

/*****Work Page*****/
#work-page {
	background-color: #FFFFFF;
	height: 100vh;
}

.work-text {
	text-align: center;
	height: 100vh;
}

.work-text h3, p {
	margin-top: 22vh;
	font-family: 'Poppins', sans-serif;
	color: #343338;
}

.work-text p {
	font-size: 1em;
}

.work-text a {
	text-decoration: none;
	color: #343338;
}

.work-text a:hover {
	color: #E8C0B8;
}

span {
	font-weight: bolder;
}

#a-few-short-miles {
	visibility: hidden;
}

#within-reach {
	visibility: hidden;
}

#the-best-hour {
	visibility: hidden;
}

/*Preview Div Class*/
.preview {
	margin-top: 25vh;
	width: 100%;
	height: 100%;
}

/*Preview Image Class*/
.img-preview {
	width: 100%;
	height: 320px;
}

#few-short-miles-preview {
	visibility: hidden;
}

#within-reach-preview {
	visibility: hidden;
}

#best-hour-preview {
	visibility: hidden;
	margin-top: -10vh;
}

/*****Contact Page*****/
#contact-page {
	height: 100vh;
	background-color: #343338;
}

.contact-text {
	text-align: center;
	margin-top: 10%;
	color: #ffffff;
}

.contact-text h3, h5 {
	font-family: 'Poppins', sans-serif;
}

#resume {
	text-decoration: none;
	color: #fff;
}

#resume:hover {
	color: #E8C0B8;
}

.icon-container {
	display: inline-block;
	margin-top: 7%;
	text-align: center;
}

.icon {
	width: 15%;
	padding: 0.5em;
}

#copyright {
	text-align: center;
	color: #ffffff;
	margin-top: 8%;
	font-family: 'Poppins', sans-serif;
}


/******* Media Queries ******/
@media (min-width: 200px) and (max-width: 600px) {

/*****Global*****/

	#navbar {
		height: 6%;
	}

	#navbar li {
		display: inline;
		max-width: 90vh;
	}

	#navbar a {
		font-size: 0.7em;
		padding: 5px;
		display: inline;
	}

/*****Home Page*****/

	#box {
		width: 60%;
		margin: 50% 20%;
		border: none;
	}

/*****About Page*****/

	#about-me-blurb {
		text-align: center;
		margin-top: 4%;
	}

/*****Work Flow Page*****/

	#work-flow-page {
		background-color: #ffffff;
	}

	.work-flow-text {
		position: absolute;
		margin: 0 auto;
		height: 50%;
	}
	.work-flow-text h3 {
		font-weight: bold;
	}

	.work-flow-text h3, p {
		margin-top: 20%;
	}

	.steps {
		background-color: #343338;
		height: auto;
		margin-left: 28%;
		padding-bottom: 20%;
		margin-top: 15%;
		width: 50%;
	}

  	#step-one {
  		border: none;
  		margin-top: 160%;
  		height: 50%;
  	}

  	#step-two {
  		border: none;
  		margin-top: 20%;
  		min-width: 100%;
  	}

  	#step-three {
  		margin-top: 20%;
  		margin-left: 28%;
  		margin-right: -28%;
  	}

  	#step-four {
  		border: none;
  		margin-top: 20%;
  	}

  	/*****Work Page*****/

  	#work-page {
  		height: auto;
  	}

  	#app-one-img {
  		margin-top: -130%;
  	}

  	#a-few-short-miles h3, p {
  		margin-top: 150%;
  	}

  	#app-two-img {
  		margin-top: 175%;
  	}

  	#within-reach h3, p {
  		margin-top: 30%;
  	}

  	#app-three-img {
  		margin-top: -95%;
  	}

  	#the-best-hour h3, p {
 		margin-top: 180%;
  	}
  	/*****Contact Page*****/

  	#contact-page {
  		margin-top: 400%;
  		height: 100vh;
  	}

  	.contact-info {
  		padding-top: 50%;
  	}

  	.contact-text {
  		visibility: hidden;
  	}

  	.icon-container {
  		visibility: hidden;
  	}

  	#copyright {
  		visibility: hidden;
  	}
}

