/*****Color & Font Key
black-color: #343338;
white: #FFFFFF;
off-white: #CDD5D1;
off-purple: #6F7184;
rose: #D8C0B8;

font-family: 'Poppins', sans-serif;
***************/

/***** Global *****/

body {
	font-family: 'Poppins', sans-serif;
}

p {
	font-size: 20px;
}

h3 {
	font-size: 28px;
}

.page {
	height: 100vh;
	width: 100vw;
}

/***** Home Page *****/

#home {
	background-color: #343338;
	color: #FFFFFF;
	background-image: url("https://static.pexels.com/photos/1322/sea-ocean-fog-mist-large.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
	min-width: 100vw;
    height: 100vh;
}

.home-container {
	display: block;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: calc(10% - 12px);
    padding-top: 30vh;
    text-align: right;
}

span {
	font-family: 'Satisfy', sans-serif;
}

/***** About Page *****/

#about {
	background-color: #D8C0B8;
	padding-top: 15rem 3rem;
}

.about-text {
	height: calc(10% - 12px);
    padding-top: 30vh;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
}

/***** Work Flow Page *****/

#work-flow {
	background-color: #FFFFFF;
	display: inline-flex;
	flex-wrap: wrap;
}

.work-flow-container {
	width: 50%;
	height: 100%;
	text-align: center;
	margin: 0;
}

.desc {
	padding: 0 10px;
}

.desc h3 {
	margin-top: 0;
	padding-top: 40vh;
	text-align: center;
}

.chart {
	background-color: #343338;
}

.box-structure {
	display: inline-flex;
	flex-wrap: wrap;
}

.box {
	display: flex;
	position: relative;
	width: 50%;
	border: 1px solid white;
}

/***** Contact Page *****/

#contact {
	background-color: #343338;
	color: #FFFFFF;
	height: 90vh;
}

.contact-content-container {
	text-align: center;
	padding-top: 15%;
}

#contact-header {
	padding-bottom: 5%;
}

#contact-text {
	padding-bottom: 5%;
}

.contact-icon-container {
	display: inline-block;
}

.icon {
	width: 15%;
	padding: 0.5em;
}

.footer {
	width: 100%;
	height: 10vh;
	text-align: center;
	position: absolute;
	background-color: #343338;
	color: #FFFFFF;
}

#copyright {
	margin-top: 20px;
}

/***** Media Queries *****/

@media (min-width: 200px) and (max-width: 1200px) {
	.work-flow-container {
		width: 100%;
		text-align: center;
	}

	.desc h3 {
		margin-top: 0;
		padding-top: 10vh;
		text-align: center;
	}
}